{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" style="margin-bottom:0;">
    <label for="name">Name</label>
    <input name="name" id="names" required> 
    <label for="email">Email</label>
    <input type="email" name="email" id="email" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" style="margin-bottom:0;" value="Register">
  </form>
  <p style="margin:15px 65px">or</p>
  <a href="{{ url_for('auth.googleLogin') }}"><button>Signup with Google</button></a>
{% endblock %}